.main {
  height: 1385px;
  width: 1296px;
  position: relative;
  left: -195px;
  background-color: #f8faff;
  border: 1px solid brown;
  /* overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  } */
}
